doctype html
html(lang="en")
	head
		link(href='/pub/css/style.css', rel='stylesheet')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='/pub/js/main.js')
	body
		.background.container
			.subbody
				.details
					h1 Graduation party!
					h1 You're Invited!
					h2.hosted A Progressive Party 
					h3.hosted-by Hosted by Matt, Nat, and Drew
					h3.date Saturday, June 27<sup>th</sup>, 2015
					h3.address Beginning at <a href="https://www.google.com/maps/place/41%C2%B035'35.2%22N+70%C2%B055'47.1%22W/@41.593114,-70.929751,19z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0" class="nats-house">106 William Street</a> at 3pm.
					h4.more-info More Info
				.more-details Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					img(src="/pub/images/backmark.png" class="mark")
				.response
					.yes 
						img(src="/pub/images/checkmark.png" class="mark")
					.maybe 
						img(src="/pub/images/questionmark.png" class="mark")
					.no 
						img(src="/pub/images/xmark.png" class="mark")
