doctype html
html(lang="en")
	head
		link(href='/pub/css/style.css', rel='stylesheet')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='/pub/js/main.js')
	body
		h1 Graduation party!
		h3 Hosted by Matt, Nat, and Drew
