doctype html
html(lang="en")
	head
		link(href='http://fonts.googleapis.com/css?family=Ubuntu',rel='stylesheet',type='text/css')
		link(href='/pub/css/style.css', rel='stylesheet')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='/pub/js/main.js')
	body
		.background.container
			.subbody
				.details
					h1 Graduation party!
					h1 You're Invited!
					h3.hosted-by Hosted by Matt, Nat, and Drew
					h3.time 5pm to 11:30pm
					h3.date Saturday, June 27<sup>th</sup>, 2015
					h3 Beach, Dinner, a Movie, and Ice Cream,
					h3.address Beginning at <a target="_blank" href="https://www.google.com/maps/place/41%C2%B035'35.2%22N+70%C2%B055'47.1%22W/@41.593114,-70.929751,19z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0" class="nats-house">106 William Street</a>.
					h4.more-info More Information, click here!
				.more-details This party will begin with beaching and food on the grill at Nat Estes' house, including swimming at Anthony's Beach.  Bring a swimming suit, towel, and whatever else you'd like for the beach.  The address is <a target="_blank" href="https://www.google.com/maps/place/41%C2%B035'35.2%22N+70%C2%B055'47.1%22W/@41.593114,-70.929751,19z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0">106 William Street</a>.  Around sundown, the party will move to Drew McArthur's House (<a target="_blank" href="https://www.google.com/maps/place/45+Wilson+St,+South+Dartmouth,+MA+02748/@41.596024,-70.952691,17z/data=!4m7!1m4!3m3!1s0x89e4e2584425a709:0xf3c75c3beaca66f2!2s45+Wilson+St,+South+Dartmouth,+MA+02748!3b1!3m1!1s0x89e4e2584425a709:0xf3c75c3beaca66f2">45 Wilson Street</a>), where there will be an outdoor movie, popcorn, a fire, cake and ice cream.  Bring blankets, and warmer clothing for being outside. If there are any questions, feel free to <span class=textdrew>text Drew</span>.  Hope you can make it!
					p.number (508)542.9811
					img(src="/pub/images/backmark.png" class="mark")
				.response 
					h3(style="margin-bottom:0;") RSVP Below!
					.yes 
						a(href='http://goo.gl/forms/JdlvAzh9Tm')
							img(src="/pub/images/checkmark.png" class="mark")
					.maybe 
						a(href='http://goo.gl/forms/JdlvAzh9Tm')
							img(src="/pub/images/questionmark.png" class="mark")
					.no 
						a(href='http://goo.gl/forms/JdlvAzh9Tm')
							img(src="/pub/images/xmark.png" class="mark")
